* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(221, 240, 235);
  overflow-x: hidden;
}
.card-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 5px;
}
h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 20px 0 20px 0;
  text-align: center;
}
.loader {
  color: white;
  margin: auto;
  margin-top: 5%;
  font-size: small;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card {
  border: 1px solid grey;
  background-color: white;
  width: 40%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  word-wrap: break-word;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(247, 238, 238, 0.3);
}
.card-premium {
  box-shadow: inset 1px 1px 10px 20px rgb(240, 222, 222);
}
.error-card {
  background-color: white;
  padding: 50px;
  font-size: large;
  font-weight: 600;
  color: red;
}
.title-card {
  background-color: white;
  width: 30%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  word-wrap: break-word;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.comment-card {
  background-color: white;
  width: 30%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  word-wrap: break-word;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.title {
  padding: 15px;
  margin: auto;
  font-weight: bold;
}
.post-body {
  text-align: start;
  font-size: medium;
  font-weight: 300;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 1px 1px 1px 1px grey;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}
.comment-body {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px grey;
}
.heading {
  display: flex;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  color: slategray;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.heading .title {
  margin: 0;
  font-weight: bold;
  font-size: large;
}
.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.back-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
}
.small-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: 20px;
}
.user-name {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  color: slategray;
  font-size: 1.5em;
}
.comment-icon {
  width: 30px;
  height: 30px;
}
.user-link {
  text-decoration: none;
}
.user-link:hover {
  color: #3498db;
}
.inner-div {
  text-align: center;
  font-size: medium;
  font-weight: 600;
  word-wrap: break-word;
  color: grey;
}
ul {
  list-style: none;
}
ul h5 {
  font-weight: 400;
  color: rgb(58, 62, 66);
}
.addr-btn {
  padding: 5px 100px 5px 100px;
}
.addr-btn:hover {
  background-color: blue;
  color: white;
}
.addr-details {
  text-align: center;
  width: 100%;
}
.user-geo {
  text-align: center;
  width: 100%;
}

p {
  padding: 10px;
}
.nav-box {
  width: 100%;
  height: 5%;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: navy;
}
.nav-box .link {
  padding: 15px;
  text-decoration: none;
  color: white;
}
.link:hover {
  color: grey;
}
.Link {
  text-decoration: none;
  line-height: 30px;
  padding: 0 40px 0 40px;
  color: white;
  margin-top: 10px;
}
.span:hover {
  color: blue;
}
.span {
  color: black;
  padding: 5px;
  position: relative;
  top: -10px;
}
.post-span {
  color: black;
  padding: 5px;
  position: relative;
  top: -10px;
}
@media all and (max-width: 768px) {
  .card-box {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
  .error-card {
    width: 90%;
  }
  .title-card {
    width: 90%;
  }
  .comment-card {
    width: 90%;
  }
}
